body {
  background-color: black;
}

.App {
  text-align: center;
}

.contents {
  color: #fff;
  padding-bottom: 54px;
}

.devices {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header {
  top: 0px;
  background: #555;
  position: sticky;
  z-index: 10;
  color: #fff;
}

header > h1 {
  margin: auto;
  padding: 10px 0;
}
