.device {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 3px;
  padding-bottom: 10px;
  background-color: #505050;
  display: block;
  width: 185px;
  height: 165px;
}

.power {
  color: #373737;
  text-shadow: 0px 1px 1px rbga(250, 250, 250, 0.1);
  font-size: 24pt;
  display: block;
  position: relative;
  background-color: rgb(83, 87, 93);
  box-shadow: 0px 3px 0px 0px rgb(34, 34, 34),
    0px 7px 10px 0px rgb(17, 17, 17),
    inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
    inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 35px;
  margin: auto;
  text-align: center;
}

.power > i {
  margin-top: 5px;
  margin-left: -12px;
}

.power:before {
  content: '';
  width: 80px;
  height: 80px;
  display: block;
  z-index: -2;
  position: absolute;
  background-color: rgb(26, 27, 29);
  left: -5px;
  top: -2px;
  border-radius: 40px;
  box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1),
    inset 0px 1px 2px rgba(0,0,0,0.5);
}

.power:active {
  box-shadow: 0px 0px 0px 0px rgb(34,34,34),
    0px 3px 7px 0px rgb(17,17,17),
    inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
    inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
  background-color: rgb(83,87,93);
  top: 3px;
}

.indicator {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  clear: both;
  position: relative;
  bottom: -15px;
  left: 48%;
  margin-bottom: 20px;
}

.indicate-off {
  background-color: rgb(226, 0, 0);
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
    0px 0px 3px 2px rgba(226,0,0,0.5);
  }

.indicate-on {
  background-color: rgb(135,187,83);
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
    0px 0px 3px 2px rgba(135,187,83,0.5);
  }

.indicate-disabled {
  background-color: rgb(83, 87, 93);
  box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
    0px 0px 3px 2px rgba(0,0,0,0.1);
  }
